body, html {
    height: 100%;
    margin: 0;
}

.background-image, .homepage-background, .character-creation-background, .bazaar-background{
    height: 100%;           /*Causes image to cover the full screen*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image{
    background-color: black;
    /* background-image: url(../Images/teapot-Error.jpg);
    background-size: 30%; */
}

.homepage-background {
    background-image: url(../Images/landing_page_background-from-publicdomainpicturesDOTnet.jpg);
}

#start {
    padding: 20px 30px;
    background-color: rgb(196, 196, 196);
    color: darkred;
    text-align: center;
    font-size: larger;
    font-family: "Turret Road", sans-serif;
    font-weight: 900;
    border: 3px solid black;
    border-radius: 12px;
    position: absolute;
    top: 40%;
    left: 40%;
}

#start:hover {
    background-color: rgb(254, 254, 192);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    cursor: pointer;
}


/************************
*   Character Creation  * 
*************************/

.character-creation-background {
    background-image: url(../Images/character_creation_background-from-publicdomainpicturesDOTnet.jpg);
    max-width: 100%;
    height: auto;
    background-position: top left;
    /* background-size: 50%;                    This will fix the overflow but... it makes the image only as tall as the page. Thus it only fills HALF the page */
}

#introHeader {
    background-color: rgb(235, 245, 220);
    padding: 10px;
    width: 100%;
    height: 160px;
}

.introParagraph {
    margin-left: 30px;
    color: black;
    padding: 10px;
    width: 100%;
    font-size: x-large;
    font-family: "Turret Road", sans-serif;
    width: 100%;
    overflow: hidden;                   /* Ensures the content is not revealed until the animation */
    white-space: nowrap;                /* Keeps the content on a single line */
    animation: typing 4s steps(40, end);
}

@keyframes typing {                      /* Defines the "typing" animation */
    from { width: 0; } 
    to { width: 100% }
} 

#character-creation-form {
    width: 25%;
    /* background-color: rgba(143, 143, 143, 0.5); */
    /* box-shadow: 3px 3px 5px rgb(65, 65, 65); */
    margin: auto;
    padding: 150pt;
}

#basicInfo {
    background-color: rgb(231, 231, 231);
    border: rgb(121, 61, 1) solid 1px;
    box-shadow: 3px 3px 5px rgb(65, 65, 65);
    margin: 2px 0 2px 17px;
    font-family: "Play", sans-serif;
    padding: 10px 10px 10px 8px;
}

#basicInfo legend {
    font-weight: bold;
    color: rgb(121, 61, 1);
    padding: 7px;
    text-shadow: 1px -5px 4px rgb(250, 255, 244);
}

#basicInfo label {
    margin-right: 10px;
    color: darkred;
}

#basicInfo input, select {
    margin-bottom: 15px;
}

#basicInfo select {
    margin-top: 3px;
}

#basicInfo input[type=text] {
    width: 80%;
}

#character-creation-button {
    display:block;
    margin: 0 auto;
    padding: 5px 10px;
    color:  #d1cc84;
    font-weight:  900;
    font-family: "Play", sans-serif;
    background-color: darkred;
}

#character-creation-button:hover {
    cursor: pointer;
    color: forestgreen;
    background-color: #d1cc84;
    box-shadow: 0px 0px 15px 8px white;
}



/************************
*   Game Play - Bazaar  * 
*************************/

.bazaar-background {
    background-image: url(../Images/bazaar_background-from-pxfuelDOTcom.jpg);
    /* opacity: 0.5; */
}

#ww_cf581cbb2c2a8 {
    position: absolute;
    right: 0px;
}

.textArea {
    background-color: black;
    color: white;
    width: 65%;
    height: 74%;
    margin: 1% 0 0 17.5%;
    /* z-index: 1; */
    position: absolute;
    padding-top: 3px;
    text-align: center;
}

.textArea img{
    margin-bottom: 35px;
    border: dashed 1px whitesmoke;
}

.textArea-WIDER-VERSION {
    background-color: black;
    color: white;
    text-align: center;
    margin: 1% 0 0 7%;
    padding: 10px;
    position: absolute;
    width: 80%;
}

.textArea-WIDER-VERSION img {
    border: dashed 1px whitesmoke;
}

.weatherButton {
    margin: 15px;
    padding: 5px 10px;
    background-color: lightskyblue;
}

.weatherButton:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: darkblue;
}

#bazaarButtons {
    font-family: "Play", sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.choiceButton, .choiceButton2 {
    margin: 0 15px;
    color: black;
    border: solid 1px darkorange;
    padding: 3px 10px;
    font-size: large;
    font-family: "Play", sans-serif;
}

.choiceButton {
    background-color: antiquewhite;
}

.choiceButton2 {
    background-color: lightcyan;
}

.choiceButton:hover, .choiceButton2:hover {
    cursor: pointer;
    background-color: black;
    border: solid 1px antiquewhite;
}

.choiceButton:hover {
    color: antiquewhite;
}

.choiceButton2:hover {
    color: lightcyan;
}

.result-of-choice, .result-of-choice-WIDER-VERSION {
    background-color: rgb(21, 19, 50);
    border: solid 5px black;
    text-align: center;
}

.result-of-choice {
    margin-left: 10%;
    width: 70%;
}

.result-of-choice-WIDER-VERSION {
    margin-left: 7%;  
    width: 83%;
}

p {
    padding: 10px 0;
}

.short-paragraph, p {
    margin-left: 10px;
    font-family: "Turret Road", sans-serif;
    font-size: x-large;
    color: whitesmoke;
}

.short-paragraph {
    padding: 0;
}

.tinyText {
    font-size: 6pt;
}

.non-gameplay-notes {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: pink;
}


.gameOver {
    text-align: center;
    padding-top: 10%;
    width: 90%;
}

.gameOver p {
    margin-left: 10%;
    font-size: 22pt;
    color: whitesmoke;
}

/* Generic button for testing API's: */
.exampleButton {
    margin: 20px;
    padding: 5px 15px;
}